.custom-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.center_tool{
  display: flex;
  justify-content: center;
  align-items: center;

}
.login{
  width: 15em;  /* adjust as needed */
}

.white-text{
  color: white !important;
}





